body {
  background-color: gold;
  margin: 25px 5px;
}

div#page {
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5px 5px 30px;
  text-align: left;
  min-height: 526px;
  min-width: 348px;
  position: relative;
  display: table;
}

div {
  text-align: center;
}

div#header {
  margin: 10px 0;
  width: 100%;
}

div#menu {
  background-color: darkgray;
  color: white;
  width: 300px;
  float: left;
  margin: 5px 0 5px 24px;
  height: 410px;
}

div#content {
  float: left;
  margin: 10px 12px;
}

div#footer {
  margin: 10px auto;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

input {
  width: 50px;
}

textarea {
  height: 50px;
  margin: 5px;
}

#copyright {
  margin-top: 15px;
}

#output .group {
  max-width:300px;
  text-align: left;
  display: contents;
  margin:10px auto;
}

@media screen and (max-width: 600px){
  #output .group {
    display: inline-block;
    float: left;
  }
}
