#input{height:200px; width:500px;}
#output{height:200px; width:500px;}
.sample{color:blue; text-decoration:underline;}
.lv1{background-color: green;}
.lv2{background-color: yellow;}
.lv3{background-color: orange;}
.lv4{background-color: red;}
